body {
	margin: 0 auto;
	font-family: Fira Sans;
  }
  .container {
	background-color: #489078;
	font-family: Fira Sans;
  }
  .box-basket {
	width: 64px;
	height: 64px;
	border-radius: 4px;
	background-color: #f4f3f1f0;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .svg {
	z-index: 1;
  }
 
  .title {
	display: flex;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 38.4px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #f4f3f1f0;
	box-shadow: 1px 1px 0px 0px #0000004d;
  }
  #menu-container {
	color: #f4f3f1f0;
	background-color: #605858;
	margin: 16px;
	border-radius: 8px;
	padding: 20px;
  }
  #menu-container p{
	font-size: 16px;
  }
  .header-basket{
	  display: flex;
	  justify-content: right;
	  padding-top: 20px;
	  padding-right: 20px;
  }
  .line{
	width: 25%;
	border-bottom: 3px dotted #f4f3f1f0;
	
  }
  .div-row{
	gap: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
  }

  

@media screen and (min-width:500px){
	.line{
		width: 40%;
	}
	
}

@media screen and (min-width:600px){
	.line{
		width: 50%;
	}
	
}